---
accounts_message: 'Reading from accounts.yaml file!'

accounts::ssh_keys:
  foo:
    comment: GECOS-field
    type: ssh-rsa
    public: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

accounts::users:
  archivesspace:
    #ensure: absent
